<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{ui.signup.head.title}"></title>
</head>
<body>
  <header layout:fragment="header">
    <h1 th:text="#{ui.signup.header}"></h1>
  </header>
  <section layout:fragment="content">
    <table class="table table-hover">
      <caption th:text="#{ui.table.caption.userList}"></caption>
      <thead>
          <tr>
              <th scope="col" th:text="#{ui.label.num}"></th>
              <th scope="col" th:text="#{ui.user.email}"></th>
              <th scope="col" th:text="#{ui.user.lastName}"></th>
              <th scope="col" th:text="#{ui.user.firstName}"></th>
              <th scope="col" th:text="#{ui.label.role}"></th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="seed,stat : ${seeds}">
              <td th:text="${stat.count}"></td>
              <td><a th:text="${seed.title}" href="#" th:href="@{/users/edit(sid=${seed.sid})}"></a></td>
              <td th:text="${seed.content}"></td>
              <td th:text="${seed.registTimestamp}"></td>
              <td th:text="${seed.modifyTimestamp}"></td>
              <td>
                <button type="button" class="btn btn-danger btn-xs">delete</button>
                <button type="button" class="btn btn-primary btn-xs">edit</button>
                <a class="btn btn-danger btn-xs" href="#" th:href="@{/seed/delete(sid=${seed.sid})}">delete</a> <a
                  class="btn btn-primary btn-xs" href="#" th:href="@{/seed/edit(sid=${seed.sid})}">edit</a>
              </td>
          </tr>
      </tbody>
    </table>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
  </section>    
  <footer layout:fragment="footer"></footer>
  <script layout:fragment="custom-script">
  </script>
</body>
</html>