<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
  <div th:fragment="banner">
    <div sec:authorize="hasRole('ROLE_USER')">
      <ul>
        <li><a href="#" th:href="@{/logout}" th:text="#{ui.link.logout}"></a></li>
      </ul>
    </div>
    <div sec:authorize="!hasRole('ROLE_USER')">
      <ul>
        <li><a href="#" th:href="@{/}" th:text="#{ui.link.home}"></a></li>
      </ul>
    </div>
  </div>
  
  <div id="banner">
    <h1 th:text="#{ui.application.name}"></h1>
  </div>
  
  <div th:fragment="logo">
    <div id="logo">
      <h1 th:text="#{ui.application.name}"></h1>
    </div>
  </div>
  
  <div th:fragment="menu">
    <div sec:authorize="hasRole('ROLE_USER')">
      <ul>
        <li><a href="#" th:href="@{/users}">Manage Users</a></li>
        <li><a href="#" th:href="@{/logout}" th:text="#{ui.link.logout}"></a></li>
      </ul>
    </div>
  </div>
  
  <div th:fragment="disconnect">
    <form id="disconnect" action="#" th:action="@{#{'disconnect.url.' + ${source}}}" method="post">
      <button type="submit" th:text="#{'disconnect.button.' + ${source}}"></button>    
      <input type="hidden" name="_method" value="delete" />
    </form>
  </div>
  
  <div th:fragment="footer">
    <div class="footer"></div>
  </div>
</body>
</html>