<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{ui.signup.head.title}"></title>
</head>
<body>
  <section layout:fragment="content">
    <div th:each="seed,stat : ${seeds}" class="col-md-10">
      <div class="row">
        <div class="col-md-1">
          Read
          <span class="badge">12</span>
        </div>
        <div class="col-md-1">
          Read
          <span class="badge">12</span>
        </div>
        <div class="col-md-10">
          <div class="col-md-10"><a th:text="${seed.title}" th:href="@{/seed/read(sid=${seed.sid})}"></a></div>
          <div th:each="tag : ${seed.tagSet}" class="col-md-3">
            <div th:text="${tag.pk.tag.tagName}"></div>
          </div>
          <div th:text="${seed.modifyTimestamp}"></div>
        </div>
      </div>
    </div>
  </section>
  <footer layout:fragment="footer"></footer>
  <script layout:fragment="custom-script">
  </script>
</body>
</html>