<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{ui.signup.head.title}"></title>
</head>
<body>
  <section layout:fragment="content">
    <div class="row">
      <div th:each="seed,stat : ${seeds}" class="col-md-10">
          <a th:text="${seed.title}" href="#" th:href="@{/users/edit(sid=${seed.sid})}"></a>
          <div th:each="tag : ${seed.tags}" class="col-md-3">
            <div th:text="${tag.tagName}"></div>
          </div>
          <div th:text="${seed.modifyTimestamp}"></div>
      </div>
    </div>
  </section>    
  <footer layout:fragment="footer"></footer>
  <script layout:fragment="custom-script">
  </script>
</body>
</html>