<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <!--title th:include="this :: header"></title-->
  <title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE" th:text="#{ui.application.name}"></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"-->
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"-->
  <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/resources/css/default.css}" />
  <link rel="stylesheet" th:href="@{/resources/fontawesome/css/font-awesome.min.css}" />
  <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"-->
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}" th:text="#{ui.link.home}"></a>
      </div>
	    
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li sec:authorize="!hasRole('ROLE_USER')"><a th:href="@{/login}" th:text="#{ui.link.login}"></a></li>
          <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/logout}" th:text="#{ui.link.logout}"></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sample <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a th:href="@{/signup}">signup</a></li>
              <li><a th:href="@{/login}">login</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a th:href="@{/user/list}">user/list</a></li>
              <li class="divider"></li>
              <li><a th:href="@{/seed/add}">seed/add</a></li>
              <li><a th:href="@{/seed/list}">seed/list</a></li>
              <li><a th:href="@{/seeds/list}">seeds/list</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="container">
  <header layout:fragment="header"></header>
  <section layout:fragment="content"></section>
  <footer layout:fragment="footer"></footer>
  </section>
  <script type="text/javascript" th:src="@{/resources/jquery/jquery-2.1.3.min.js}"></script>
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script-->
  <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/resources/script/angular.min.js}"></script>
  <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script-->
  <script layout:fragment="custom-script" type="text/javascript"></script>
</body>
</html>